extends layout
include _includes/sharedHTMLfunctions

block content
    .row.banner
        .col-12
            h1= pageHeader.title
                small &nbsp;#{pageHeader.strapline}
    .row
        .col-12.col-md-8
            .error= message
            app-home-list
        .col-12.col-md-4
            p.lead= sidebar
block scripts
    script(src='/build/main.9fb9cf61381675e277bb.js')
    script(src='/build/polyfills.bf99d438b005d57b2b31.js')
    script(src='/build/runtime.359d5ee4682f20e936e9.js')
            