extends layout

block content
    .row.banner
        .col-12
            h1 RE8
                small &nbsp;Find places to eat.
    .row
        .col-12.col-md-8
            .card
                .card-block
                    h4
                        a(href="/restaurant").span.card-title Coffee shop
                        small &nbsp;
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                        span.badge.badge-pill.badge-default.float-right 100m
                    p.address Yashodham colony, Malkapur
                    p.facilities
                        span.badge.badge-warning Cold Coffee
                        span.badge.badge-warning Hot Coffee
        .col-12.col-md-4
            p.lead Looking for a place to eat peacefully ? RE8 helps you find places to eat and also to rate them according to your experience.